*{margin: 0 auto;}
body{
    background:linear-gradient(100deg,rgb(79, 169, 172),    rgb(255, 255, 255));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif
}
h1{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border-style: ridge;
    border-color:black;
    
}
.central{
    text-align: center;
    margin-top: 1.5rem;

}
li{
    background-color: white ;border-style: outset;margin: 10px;
    
    
}
.item-menu{
    display: inline;
    margin: 0.6rem;
    background-color: white;
    padding: 0.2rem;
    border-radius: 10vh;
    border-color: black;
    
}
.item-menu:hover{
    background-color: rgb(139, 124, 124);
    
 
}
td{
    padding: 0.4rem;
}
.tabela-div{
margin-left: 60px;
padding-left: 40px;
}
#Pessoal{
    margin-left: 50px;
}
#habilidades{
  margin-right: 100px;
}
#Sobre{
    padding-bottom: 10px;
}
#Lorem1{
    margin-left: 40px;
    margin-top: 0.5rem;

}
#Lorem2{
    margin-left: 40px;
    margin-top: 0.5rem;
}
#qualificação{
    padding-bottom: 10px;
}
#Foto{
    width: 300px; 
    border-radius: 500px;
    border-style: hidden;
    border-color: black;
    box-shadow: 0 0 30px white,
    0 0 10px white;
}
#experiencia{
    margin-right: 100px;
}
#formacao{
    margin-right: 100px;
}
#Estilo2{
    background-color: white;
    border-style:outset; 
    margin-right: 1450px;
    border-radius: 25px;
    padding-left: 20px;
    border-color: black;
}
#Estilo1{
    background-color: white;
    border-style:outset; 
    margin-right: 1450px;
    border-radius: 30px;
    padding-left: 100px;
    border-color: black;
    
}
#Estilo3{
    background-color: white;
    border-style:outset; 
    margin-right: 1350px;
    border-radius: 25px;
    padding-left: 20px;
    border-color: black;
}
#Estilo4{
    background-color: white;
    border-style:outset; 
    margin-right: 1350px;
    border-radius: 25px;
    padding-left: 20px;
    border-color: black;
}
#Estilo5{
    background-color: white;
    border-style:outset; 
    margin-right: 1350px;
    border-radius: 25px;
    padding-left: 100px;
    border-color: black;
}
#Estilo6{
    background-color: white;
    border-style:outset; 
    margin-right: 1450px;
    border-radius: 25px;
    padding-left: 100px;
    border-color: black;
}
#Dadoss{
    margin-left: 52px;
}
a{
    text-decoration: none;
    color: currentColor;
}