*{margin: 0 auto;}
body{
    background:linear-gradient(100deg,rgb(79, 169, 172),    rgb(255, 255, 255));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif
}
h1{
    background-color: white;
    border-radius: 10vh;
    padding: 2vh;
    border-style: ridge;
    border-color:black;
    
}
.central{
    text-align: center;
    margin-top: 1.5rem;

}
li{
    background-color: white ;border-style: outset;margin: 10px;
    
    
}
.item-menu{
    display: inline;
    margin: 0.6rem;
    background-color: white;
    padding: 0.2rem;
    border-radius: 10vh;
    border-color: black;
    
}
.item-menu:hover{
    background-color: rgb(139, 124, 124);
    
 
}
td{
    padding: 0.4rem;
}
.tabela-div{
margin-left: 60vh;
padding-left: 40vh;

}
#Pessoal{
    margin-left: 5vh;
}
#habilidades{
  margin-right: 12vh;
}
#Sobre{
    padding-bottom: 2vh;
    align-content: center;
    justify-content: center;
    
}
#Lorem1{
    margin-left: 5vh;
    margin-top: 0.5rem;

}
#Lorem2{
    margin-left: 5vh;
    margin-top: 0.5rem;
    
}
#qualificação{
    padding-bottom: 2vh;
}
#Foto{
    width: 35vh; 
    border-radius: 500vh;
    border-style: hidden;
    border-color: black;
    box-shadow: 0 0 30px white,
    0 0 10px white;
}
#experiencia{
    margin-right: 11vh;
}
#formacao{
    margin-right: 11vh;
}
#Estilo2{
    background-color: white;
    border-style:outset; 
    margin-right: 168vh;
    border-radius: 25vh;
    padding-left: 2vh;
    border-color: black;
}
#Estilo1{
    background-color: white;
    border-style:outset; 
    margin-right: 170vh;
    border-radius: 30vh;
    padding-left: 10vh;
    border-color: black;
    display: flex;
    font-size: 3.2vh;
    
}
#Estilo3{
    background-color: white;
    border-style:outset; 
    margin-right: 158vh;
    border-radius: 30vh;
    padding-left: 5vh;
    border-color: black;
}
#Estilo4{
    background-color: white;
    border-style:outset; 
    margin-right: 158vh;
    border-radius: 30vh;
    padding-left: 2vh;
    border-color: black;
}
#Estilo5{
    background-color: white;
    border-style:outset; 
    margin-right: 158vh;
    border-radius: 30vh;
    padding-left: 10vh;
    border-color: black;
}
#Estilo6{
    background-color: white;
    border-style:outset; 
    margin-right: 158vh;
    border-radius: 25vh;
    padding-left: 10vh;
    border-color: black;
}
#Dadoss{
    margin-left: 6vh;
    
}
a{
    text-decoration: none;
    color: currentColor;
}

#central{
    display: flexbox;
    align-content: center;
}